.hidden {
    display: none;
}

body{
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%;
    padding: 5%;
    border: 1rem solid;
    border-radius: 5%;
    border-color: black;
}